@reference "tailwindcss";
@reference "./globals.css";

.primaryHeader {
  @apply text-5xl text-primary-header font-bold mb-2 sm:mb-4 mt-5 sm:mt-8;
}

.secondaryHeader {
  @apply text-3xl text-secondary-header font-bold italic leading-none;
}

.time {
  @apply text-primary-text font-medium text-lg mb-2;
}
